body{
    margin:0;
    padding:0;
    font-family:  sans-serif;

}
h2{
    
    font-weight: bold;
    margin-left: 70px;
}

.birthdate{
    
    font-weight: 300;
    margin-left: 70px;
    color: rgb(163, 7, 7);
}

.info-box{
    position:absolute;
    margin-top:-7%;
    margin-left: 40%;
    float: right;
    color: crimson;
    padding: 0px;
    box-shadow: 10px 10px 30px turquoise;
    
   /* border-top: 20px solid rgb(1, 31, 22);
    border-bottom: 20px solid rgb(1, 31, 22);*/
    
}




h3{
    text-align: left;
    background:turquoise ;
    margin-left: 70px;
    padding: 5px;
    border-left:10px solid rgb(1, 31, 22) ;
    border-bottom: 5px solid rgb(1, 31, 22);
    
    
    
    
}


h4{
    text-decoration:underline;
    color: teal;
    margin-left: 70px;
}
.photo{
    margin-left: 70px;
}

.profile{
    width: 50%;
    font-size: 15px;
    font-family:sans-serif;
    margin-left: 70px;
    margin-top: 20px;
    font-weight: 500;
}


.work-ex{
    width: 50%;
    font-size: 15px;
    font-family:sans-serif;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: 500;
}

.edu-cation{
    width: 50%;
    font-size: 15px;
    font-family:sans-serif;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: 500;  
}

.lang{

    width: 50%;
    font-size: 15px;
    font-style:italic;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: 700; 
    color: rgb(223, 13, 128);
}
.tech{
    width: 50%;
    font-size: 15px;
    font-family:sans-serif;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: 900;  
} 

.inte-rests{

    width: 50%;
    font-size: 15px;
    font-style:italics;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: 700;  
}

.ref{
    font-weight: bold;
    color: rgb(226, 14, 43);
    margin-top: 20px; 
    font-size: 15px;
    font-style:italic;
    margin-left: 70px;
    
    
    
}



.video{
    
    padding: 20px;
    box-shadow: 0px 0px 20px 20px rgb(75, 240, 163);
    margin-left: 70px;
    
    
}
.follow{
    
    font-size: 15px;
    font-family:sans-serif;
    margin-top: 50px;   
}

footer{
    background: rgb(16, 19, 19);
}
h5{
    background: turquoise;
    font-size: 20px;
    padding: 5px;
    text-align-last: center;
}

.copy{
    color: rgb(226, 12, 12);
    font-size: 15px;
    margin-left: 10px;
}

.footer-icons{
    margin-top:50px;
    margin-left: 70px;
    margin-bottom: 10px;
    display: block;
    list-style-type: none;
    display:flex
}
.fa{
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 70px;
  
 

     
}

.fa:hover{
 opacity: 0.7;
}
.fa-facebook{
    background: midnightblue;
    color: mistyrose;
}
.fa-twitter{
    background: orange;
    color:whitesmoke;
}

.fa-linkedin{
    background: blue;
    color: cornsilk;
}

.fa-youtube{
    background: red;
    color: white;
}
.fa-instagram{
    background: olivedrab;
    color: wheat;
}

